.main-container{
    max-width: 600px;
    margin: auto;
}
.data{
    color: #5673;

}
.appBlock{
    max-width: 500px;
    margin: auto;
    margin-top: 20px;
    align-items:stretch;
    border-radius: 10px;
    border: 1px solid #5673;
    padding: 15px;
    display: flex;
    flex-direction: column;
}
.d-flex {
    justify-content: space-between;
}