.todo-list .list-group-item{
font-size: 16px;
width:auto;
}
.list-group{
    margin-top: 20px;
}
.btn-sm{
  
    width: 30px;
    height: 30px;
    
}
.btn-sm:last-child{
    margin-right: 5px;
}
.btn{
    float:right;
}

.todo-list-item-label {
    line-height: 35px;
    cursor: pointer;
    user-select: none;
}

.todo-list-item.done .todo-list-item-label{
text-decoration: line-through;
}

.todo-list-item.important .todo-list-item-label{
    font-weight: bold;
}
