.carousel-container {
    width: 1030px;
    margin: 0 auto;
    border: #181f22 solid 1px;
}
.react-multiple-carousel__arrow--left{
    left: 0px;
}
.react-multiple-carousel__arrow--right{
    right: 0px;
}
.about-evenim {
   margin: 0px !important;
}
.about-evenim h6 {
    margin: 0px;
}
.photos-evenim{
    margin: 0px !important;
}
.eveniment {
    padding: 20px 60px;
}